Package: com.efrederickson.batteryusageenhancer
Name: BatteryUsageEnhancer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Improve Battery Usage section on iOS 8
Depiction: http://elijahandandrew.com/repo/depictions/BatteryUsageEnhancer/
Maintainer: Elijah Frederickson
Author: Elijah Frederickson
Section: Tweaks
